<template name="about">
    {{#markdown}} ## About me! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi totam, aut molestias architecto sapiente recusandae sequi deserunt, distinctio suscipit aspernatur quis! Velit eos beatae quae doloremque iure consectetur neque sed. architecto esse ipsam totam quibusdam dolores impedit dolor, debitis id perferendis quam. provident, nobis facere quod perspiciatis animi maxime quam ipsum? Quos, reiciendis, doloremque. Link to my faceboo: [facebook.com] [1] [1]: http://facebook.com
    {{/markdown}}
</template>
